<div class="contenedor-tot">

<h1 class="titulo-izq">Crear Buscar Clases Particulares</h1>

<%= render 'form', busco: @busco %>

<br>

<%= link_to 'Volver', eventos_path, class: "boton-menor" %>

</div>
