<div class="container" style="display: none">
  <%= current_user.actualizar_rol("moderador") %>
</div>
<h2>¡Rol actualizado con éxito!</h2>
<button> <%= link_to "Volver", contenidos_path %> </button>
