<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sol_moderador.user_id %>
</p>

<%= link_to 'Edit', edit_sol_moderador_path(@sol_moderador) %> |
<%= link_to 'Back', sol_moderadors_path %>
