<h2>Cambiar Roles</h2>
<button> <%= link_to "Rol Administrador", administradors_path %> </button>
<button> <%= link_to "Rol Moderador", moderadors_path %> </button>
<button> <%= link_to "Rol Registrado", registrados_path %> </button>
