<div class="bienvenida">
    <br>
    <button type="button" class="button-crea" name="button"><%= link_to "Iniciar Sesion", new_user_session_path %></button>
    <br>
    <br>
    <button type="button" class="button-crea" name="button"><%= link_to "Registrarse", new_user_registration_path %></button>
    <br>
    <br>
    </div>
