<% if not user_signed_in? %>

<div class="log-in">
    <br>
    <a class="button-crea-2" href=<%= new_user_session_path %>>Iniciar Sesión</a>
    <br>
    <a class="button-crea-2" href=<%= new_user_registration_path %>>Registrarse</a>
    <br>
    <br>
    </div>
<% end %>
