<div class="contenedor-tot">

<h1 class="titulo-izq">Editar Ofrecer Clases Paticulares</h1>

<%= render 'form', ofrezco: @ofrezco %>
<br>
<%= link_to 'Volver', @ofrezco, class: "boton-menor" %>
</div>
