<div class="contenedor-tot">

<h1 class="titulo-izq">Ofrecer Clases Particulares</h1>

<%= render 'form', ofrezco: @ofrezco %>

<br>
<%= link_to 'Volver', eventos_path, class: "boton-menor" %>

</div>
