<p id="notice"><%= notice %></p>


<h1>Chats</h1>


<table>
  <thead>
    <tr>
      <th>Contacto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <% if chat.primero == current_user.id %>
          <td><%= link_to User.find(chat.segundo).name + " " + User.find(chat.segundo).last_name, chat %></td>
        <% elsif chat.segundo == current_user.id %>
          <td><%= link_to User.find(chat.primero).name + " " + User.find(chat.primero).last_name, chat %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat', new_mensaje_path %>
