/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.bienvenida {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-style: double;
  text-align: center;
  width: 250px;
  border-color: #36c3d1

}

.button-crea {
  display: inline-block;
  border-radius: 3px;
  background-color: white;
  border: 2px solid #36c3d1; /* Green */
  color: #36c3d1;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.titulo{
  color: #36c3d1;
  text-align: center;
}

.titulo-izq{
  color: #36c3d1;
}

.contenedor-tot{
  margin-left: 50px;
  margin-right: 50px;
}

.boton-estrella{
  color: #36c3d1;
  border-radius: 3px;
  background-color: white;
  border: 2px solid #36c3d1;
}

.boton-menor{
  color: #154D52;
  border-radius: 3px;
  background-color: white;
  border: 2px solid #154D52;
}

.titulo-foro{
  border-left: 10px solid #154D52;
  color: #154D52;
  background-color: #DCEBEC;
  padding: 5px 5px 5px 5px;
}

.contenedor-post{
  border-radius: 5px;
  background-color: #EDFEFF;
  padding-left: 10px;
}

.contenedor-comentarios{
  background-color: white;
  border-left: 5px solid #154D52;
  padding: 15px 15px 15px 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.contenedor-c-comentario{
  border-bottom: 1px;
}


.contenedor-mensajeria{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  width: 600px;
  height: 400px;
  border-color: #36c3d1;
  background-color: #ECF1FA;
  padding: 10px 10px 10px 10px;
  overflow-y: scroll;
}

.mensaje-derecha{
  display: table;
  margin-left: auto;
  margin-right: 0px;
  padding: 7px;
  background-color: #bfd6d5;
  text-align: right;
  width: auto;
  max-width: 300px;
  border-radius: 15px;
}

.mensaje-izquierda{
  display: table;
  padding: 7px;
  background-color: #FFFF;
  width: auto;
  max-width: 300px;
  border-radius: 15px;
}

.contenedor-c-mensaje{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  width: 600px;
}

.contenedor-nombres-mensajes{
  background-color: #EDFEFF;
  border-left: 5px solid #154D52;
  padding: 15px 15px 15px 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.letra-home{
  padding: 0px;
  font-size: 16px;
  color: #333;
}
